<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Skill Sphere</title>  
  <link rel="stylesheet" href="/tprofile.css">   
  <link rel="icon" href="/logo1.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Google Font Link for Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Karma:wght@300;400;500;600;700&family=Mirza:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>  
<body>  
  <div class="flex h-screen">  
    <!-- Sidebar -->  
    <div class="bcg text-white p-6 hidden md:block radiussidebar">  
      <div class="flex items-center mb-8 logo">  
        <img src=" /logo.png" alt="Skill Sphere Logo" class="h-8 mr-2">
      </div>  
      <nav>
        <div class="sidebar-divide">
          <!-- Top navigation items -->
          <div>
            <ul class="space-y-4">
              <li class="nav-item" id="home">
                  <img src=" /home1.png" alt="Home" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/home" method="post">
                  <button type="submit" class="nav-button">
                    Home
                  </button>
                </form>
              </li>
              <li class="nav-item" id="dashboard">
                  <img src=" /dashboard.png" alt="Dashboard" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/dashboard" method="post">
                  <button type="submit" class="nav-button">
                    Dashboard
                  </button>
                </form>
              </li>
              <li class="nav-item" id="resources">
                  <img src=" /librarybooks.png" alt="Resources" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/resources" method="post">
                  <button type="submit" class="nav-button">
                    Resources Uploaded
                  </button>
                </form>
              </li>
              <li class="nav-item" id="myteaching">
                  <img src=" /insertchart.png" alt="My Teachings" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/myteachings" method="post">
                  <button type="submit" class="nav-button">
                    My Teachings
                  </button>
                </form>
              </li>
            </ul>
          </div>
          <!-- Bottom navigation items -->
          <div class="mt-8">
            <ul class="space-y-4">
              <li class="nav-item" id="profile">
                <img src="/person (1).png" alt="Profile" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/profile" method="post">
                  <button type="submit" class="nav-button">
                    Profile
                  </button>
                </form>
              </li>
              <li class="nav-item" id="logout">
                  <img src=" /logout.png" alt="Log Out" class="navicons">
                <form action="/user/teacher/signin/<%=user.id %>/logout" method="post">
                  <button type="submit" class="nav-button">
                    Log Out
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      </nav>
      
    </div>  

    <!-- Main Content -->  
    <div class="flex-1 p-6">  
      <header class="flex justify-between items-center mb-6">  
        <h2 class="text-2xl font-bold">Profile</h2>  
        <div class="flex items-center">  
          <button>
            <div class="notification">  
              <img src=" /notifications_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
            </div>  
          </button>
          <div class="search-container relative">
            <div class="search-box">
                <input type="text" placeholder="Search....">
            </div>
            <div class="search-icon">
                <img src=" /search_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Search Icon">
            </div>
          </div>
          <div class="Profile-pic">
            <div class="profile-img">
              <img src=" /profile.jpg" alt="">
            </div>
            <div class="profile-name">
              <h5><%=user.username %></h5>
              <p>Student</p>
            </div>
            <div>
              <div class="next-page">
                <img src=" /blackright.png" alt="">
              </div>
            </div>
          </div> 
        </div>
      </header>   

      <!-- Main Content Sections -->  
      <main>
        <h1 class="h_in_main">Profile Details</h1>
        <div class="profile-container readonly-mode">
          <div class="Details">
          <!-- Edit Button -->
          <button type="button" class="edit-button" onclick="enableEditing()">Edit</button>
          <form action="/user/teacher/signin/<%= user.id %>/profile?_method=PATCH" method="post" id="profileForm">
            <label for="FullName">First Name</label>
            <input id="FullName" type="text" name="FirstName" value="<%= user.FirstName %>" placeholder="Enter your first name" required readonly/>
            
            <label for="LastName">Last Name</label>
            <input id="LastName" type="text" name="LastName" value="<%= user.LastName %>" placeholder="Enter your last name" required readonly/> 
            
            <label for="PhoneNumber">Phone Number</label>
            <input id="PhoneNumber" type="number" name="PhoneNumber" value="<%= user.PhoneNumber %>" placeholder="Enter your phone number" required readonly/>      
            
            <label for="Email">Email</label>
            <input id="Email" type="email" name="Email" value="<%= user.email %>" placeholder="Enter your email address" required readonly/>    
            
            <label for="DOB">DOB</label>
            <input id="DOB" type="date" name="dob" value="<%= user.Age %>" placeholder="Select your date of birth" readonly/>
            
            <label for="Gender">Gender</label>
            <div class="gender-group">
              <label for="gender-male">
                <input id="gender-male" type="radio" name="Gender" value="Male" <% if (user.Gender === 'Male') { %>checked<% } %>  disabled> Male
              </label>
              <label for="gender-female">
                <input id="gender-female" type="radio" name="Gender" value="Female" <% if (user.Gender === 'Female') { %>checked<% } %> disabled> Female
              </label>
              <label for="Not-to-say">
                <input id="Not-to-say" type="radio" name="Gender" value="Prefer not to say" <% if (user.Gender === 'Prefer not to say') { %>checked<% } %> disabled> Prefer not to say
              </label>
            </div>    
            
            <label for="Qualification">Qualification</label>
            <input id="Qualification" type="text" name="qualification" value="<%= user.qualification %>" placeholder="Your highest qualification" required readonly/>
            
            <label for="TeachingExperience">Teaching Experiences</label>
            <input id="TeachingExperience" type="text" name="experiences" value="<%= user.experiences %>" placeholder="Describe your teaching experience" required readonly/>
            
            <label for="Expertise">Expertise Area</label>
            <input id="Expertise" type="text" name="area" value="<%= user.area %>" placeholder="Your area of expertise" required readonly/>
            
            <label for="LanguagesTaught">Languages Preferred</label>
            <input id="LanguagesTaught" type="text" name="languages" value="<%= user.languages %>" placeholder="Languages you prefer to teach in" required readonly/>
            
            <label for="Topics">Topics</label>
            <input id="Topics" type="text" name="topics" value="<%= user.topics %>" placeholder="Topics you teach" required readonly/>
            
            <!-- Save Button (initially hidden) -->
            <button type="submit" class="submit-button hidden">Save & Update</button>
          </form>
          </div>
          <div class="profilePhoto">
            <div class="image-card" id="imageCard">
                  <img id="preview" src="#" alt="Image Preview"/>
            </div>
            <div class="upload-container">
                <input type="file" id="fileInput" accept="image/*" capture="environment">
                <label for="fileInput" class="upload-button">Choose Photo to upload</label>
            </div>
          </div>
        </div>
      </main>
      <!--Rightsidebar-->
</body>  
<script src="https://cdn.tailwindcss.com"></script> 
<script src="/tprofile.js"></script>
</html>